@media only screen and (min-width: 400px) {

    .bottom-promos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .promo-1, .promo-2{

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 500px;
        height: auto;
        border: 1px solid lightgrey;
        
    }

    .promo-1{
        /* margin-right: 25px; */
        margin-bottom: 25px;
    }
    .promo-text{
        width: 100%;
        padding: 0px 0px 0px 10px;
        margin-top: 0px;
    }

    .promo-text h1{
        color: rgb(69, 20, 0);
        font-size: 20px;
    }

    .promo-text p {
        font-size: 16px;
    }

    .promo-text button {
        position: absolute;
        bottom: 10px;
        background-color: rgb(69, 20, 0);
        color: white;
        padding: 8px 70px;
        border: none;
        font-weight: bold;
        font-size: 16px;
    }

    .promo-text button:hover {
        cursor: pointer;
    }

    .bottom-promo-video{
        width: 100%;
        height: auto;
        position: relative;
    }
}

@media only screen and (min-width: 1050px) {
    .bottom-promos{
        flex-direction: row;
        align-items: stretch;
    }
    .promo-1{
        margin-bottom: 0px;
        margin-right: 25px;
    }
    .promo-text h1{
        font-size: 24px;
    }
    .promo-text p {
        font-size: 20px;
    }
}