.loyalty-sign-in{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65px;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;

}
.chipotle-logo-loyalty{
    height: 100%;
}
.loyalty-sign-in h2{
    width: 510px;
    padding-left: 25px;
    color: #451400;
}
.loyalty-sign-in button{
    background-color: white;
    border-color: #451400;
    border-width: 1px;
    font-weight: bold;
    font-size: 16px;
    color: #451400;
    padding: 3px 7px;
}
.loyalty-sign-in button:hover{
    color: #7c2300;
    cursor: pointer;
}
.loyalty-sign-in p{
    font-weight: bold;
    color:#451400;
    padding: 0 15px;
}
.loyalty-sign-in a{
    color: #b68207;
    font-weight: bold;
    font-size: 18px;
}